.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 4000px;
    max-width: 2000px;
    background-color: white;
    z-index: 1;
    transition: transform .2s;
    border-radius: 0 20% 0 20%;
}
.product:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 0 50px 51px rgba(3, 3, 3, 0.2); 
  }

.product > img{
    max-width: 200px;
    width: 100%;
    object-fit: contain;
    margin: 15px;
}

.product-price{
    margin-top: 5px;
}

.product-info{
    height: 100px;
    margin-bottom: 15px;

}

.product > button{
    background-color: rgb(229, 1, 14);
    cursor: pointer;
    border: 1px solid yellowgreen;
    margin-top: 10px;
    color: white;
    
}

.product-rating{
    display: flex;
}